/* Common CSS Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
    gap: 20px;
    display: inline;
}

ul {
    margin-left: 190px;
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}



li {
    color: #fff;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    transition: 0.8s;
    font-size: 14px;
    cursor: pointer;
    font-weight: lighter;

}

li:hover {
    color: #e4b855;
    font-size: 25px;

}



/* Common CSS End */

.menu {
    height: 115px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #000000;
    position: fixed;


}


.logo {
    display: flex;
    padding-left: 140px;
}



.button {
    height: 35px;
    width: 150px;
    color: #fff;
    background-color: #e4b855;
    border-radius: 15px;
    display: flex;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-family: 14px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button:hover {
    background-color: #eeebeb;
    color: black;
    transition: 0.8s;
    font-size: 20px;
}

#icon {
    padding-left: 20px;
}

.container {

    justify-content: center;
    align-items: center;
    background: url(images/slider-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overly {
    font-family: "Playfair Display", serif;
    font-size: 29.6px;
    font-weight: 300;
    color: white;
    align-items: center;
}

#ti {
    font-family: "Playfair Display", serif;
    font-size: 54.7px;
    font-weight: 700;
    line-height: 70.016px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
    max-width: 1100px;
    padding-left: 0px;

}

#si {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 19.8px;
    font-weight: 300;
    line-height: 24.354px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    max-width: 1100px;
    margin: 0 360px;


}

.time {
    display: flex;
    gap: 0px;
    justify-content: center;
    text-align: center;
    gap: 20px;

}

#tii {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 55px;
    /* font-weight: 300; */
    line-height: 30.354px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-top: 70px;
    border: 2px solid #ababab;
    border-radius: 20px;
    padding: 30px;





}

.about {
    display: flex;

}

.overly {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);

}

.para {

    font-family: "Playfair Display", serif;
    padding-left: 30px;
    padding-top: 120px;


}

#two {
    font-family: "Playfair Display", serif;
    font-size: 29.6px;
    font-weight: 600;


}

#one {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 19.8px;
    line-height: 21.78px;
    color: #606060;
    font-weight: 300;

}

#three {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16.4px;
    font-weight: lighter;
    line-height: 22.5px;
    color: #606060;

}

.c2 {
    background: url(images/bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.overly2 {
    height: 550px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);


}

#c2p {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 29.6px;
    line-height: 36.704px;
    font-weight: 600;
    padding-top: 150px;
    text-align: center;
    margin: 0 400px;



}

#c3p {
    color: #ababab;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 19.8px;
    line-height: 25.704px;
    font-weight: 300;
    padding-top: 20px;
    text-align: center;
    margin: 0 400px;

}

.boxes {
    display: flex;
    /* background: #e8e8e8; */
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

.box1 {
    display: grid;
    height: 175px;
    width: 175px;
    background: #e8e8e8;
    transition: 0.4s;
    text-align: center;
    justify-items: center;
    padding-top: 2.8%;
    font-size: 17px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;


}

.box1:hover {
    height: 175px;
    width: 175px;
    background: #e4b855;
    color: white;
    -webkit-box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);
}

.box2 {
    display: grid;
    height: 175px;
    width: 175px;
    background: #e8e8e8;
    transition: 0.4s;
    text-align: center;
    justify-items: center;
    padding-top: 2.8%;
    font-size: 17px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;


}

.box2:hover {
    height: 175px;
    width: 175px;
    background: #e4b855;
    color: white;
    -webkit-box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);

}

.box3 {
    display: grid;
    height: 175px;
    width: 175px;
    background: #e8e8e8;
    transition: 0.4s;
    text-align: center;
    justify-items: center;
    padding-top: 2.8%;
    font-size: 17px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;


}

.box3:hover {
    height: 175px;
    width: 175px;
    background: #e4b855;
    color: white;
    -webkit-box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);

}

.box4 {
    display: grid;
    height: 175px;
    width: 175px;
    background: #e8e8e8;
    transition: 0.4s;
    text-align: center;
    justify-items: center;
    padding-top: 2.8%;
    font-size: 17px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;


}

.box4:hover {
    height: 175px;
    width: 175px;
    background: #e4b855;
    color: white;
    -webkit-box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);

}

.box5 {
    display: grid;
    height: 175px;
    width: 175px;
    background: #e8e8e8;
    transition: 0.4s;
    text-align: center;
    justify-items: center;
    padding-top: 2.8%;
    font-size: 17px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;


}

.box5:hover {
    height: 175px;
    width: 175px;
    background: #e4b855;
    color: white;
    -webkit-box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);

}

.box6 {
    display: grid;
    height: 175px;
    width: 175px;
    background: #e8e8e8;
    transition: 0.4s;
    text-align: center;
    justify-items: center;
    padding-top: 2.8%;
    font-size: 17px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;



}

.box6:hover {
    height: 175px;
    width: 175px;
    background: #e4b855;
    color: white;
    -webkit-box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 7px 60px -10px rgba(0, 0, 0, 0.75);

}

.h11 {
    text-align: center;
    margin-top: 160px;
}

.h11 img {
    text-align: center;
    width: 15%;
}

.h11 p {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 19.6px;
    font-weight: 300;
    line-height: 24.704px;
    color: #606060;
    padding: 20px 370px 100px;
}

.b11 {
    position: relative;
}

.b111 {
    display: flex;
    padding: 0 140px;

}

.b11 p {
    padding-right: 80px;


}

.b222 {
    display: flex;
    padding: 0 140px;
}

.b01 p {
    padding-right: 80px;
}

.b02 {
    padding-left: 80px;
}

.c1 {
    height: 200px;
    width: 200px;
    background: #e4b855;
    border: 15px solid #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.c1 h2{
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    color: white;
    font-size: 30px;
    
}